### Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

### Firebase cache
.firebase/

### Firebase config
# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

### Runtime data
pids
*.pid
*.seed
*.pid.lock

### Test coverage / tooling
lib-cov
coverage
.nyc_output
.grunt

### Frontend / Node dependencies & builds
bower_components
node_modules/
build/
dist/

### Package manager / tooling outputs
.lock-wscript
.npm
.eslintcache
*.tgz
.yarn-integrity

### Environment / secrets
.env
.env.*

### Misc
.dataconnect
.DS_Store
